In [3]:
import pandas as pd
import numpy as np

# 1.1

In [5]:
sec_year = 60 * 60 * 24 * 365
print(sec_year)

31536000

In [6]:
sec_lifetime = sec_year * 79
print(sec_lifetime)

2491344000

In [9]:
sec_life = sec_year * 20
print(sec_life)

630720000

In [11]:
x = 4
x

4

In [12]:
y = sec_life > 7000000
y

True

# 1.2

In [14]:
movies = ['Kung Fu Panda', 'Kung Fu Panda 2', 'Kung Fu Panda 3', 'The Incredibles', 'Mulan', 'Frozen']

In [15]:
movies[0:3]

['Kung Fu Panda', 'Kung Fu Panda 2', 'Kung Fu Panda 3']

In [17]:
movies[0:2] + movies[4:6]

['Kung Fu Panda', 'Kung Fu Panda 2', 'Mulan', 'Frozen']

# 1.3

In [20]:
numbers = []
for i in range(70,80):
    numbers.append(i)
numbers

[70, 71, 72, 73, 74, 75, 76, 77, 78, 79]

In [21]:
sum = 0
for val in numbers:
    sum = sum + val
mean = sum / len(numbers)
mean

74.5

In [25]:
sum = 0
for val in range(100):
    sum = sum + val
sum

4950

In [29]:
sum = 1
for val in range(1, 100):
    sum = sum * val
sum

933262154439441526816992388562667004907159682643816214685929638952175999932299156089414639761565182862536979208272237582511852109168640000000000000000000000

# 1.4

In [34]:
text = "I wasn’t quite sure what to do with this information. So I asked two medical experts about the new feature. Both were cautiously optimistic about its potential benefits, especially for research. The ability to constantly monitor blood oxygen levels with some degree of accuracy, they said, could help people discover symptoms for health conditions like sleep apnea."
text = text.lower()
ls = text.split()

In [38]:
dict = {}
for word in ls:
    if (word not in dict):
        dict[word] = 1
    else :
        dict[word] = dict.get(word) + 1
dict

{'i': 2,
 'wasn’t': 1,
 'quite': 1,
 'sure': 1,
 'what': 1,
 'to': 2,
 'do': 1,
 'with': 2,
 'this': 1,
 'information.': 1,
 'so': 1,
 'asked': 1,
 'two': 1,
 'medical': 1,
 'experts': 1,
 'about': 2,
 'the': 2,
 'new': 1,
 'feature.': 1,
 'both': 1,
 'were': 1,
 'cautiously': 1,
 'optimistic': 1,
 'its': 1,
 'potential': 1,
 'benefits,': 1,
 'especially': 1,
 'for': 2,
 'research.': 1,
 'ability': 1,
 'constantly': 1,
 'monitor': 1,
 'blood': 1,
 'oxygen': 1,
 'levels': 1,
 'some': 1,
 'degree': 1,
 'of': 1,
 'accuracy,': 1,
 'they': 1,
 'said,': 1,
 'could': 1,
 'help': 1,
 'people': 1,
 'discover': 1,
 'symptoms': 1,
 'health': 1,
 'conditions': 1,
 'like': 1,
 'sleep': 1,
 'apnea.': 1}

# 1.5

In [43]:
def time(time):
    min = time % 100
    min = min / 60
    hour = time // 100
    return hour + min

In [44]:
time(1015)

10.25

In [45]:
time(345)

3.75

# 2

In [89]:
nyc = pd.read_csv('data/nycflights13.csv', sep='\t')
nyc

,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour
0,2013,1,1,517.0,515,2.0,830.0,819,11.0,UA,1545,N14228,EWR,IAH,227.0,1400,5,15,2013-01-01T10:00:00Z
1,2013,1,1,533.0,529,4.0,850.0,830,20.0,UA,1714,N24211,LGA,IAH,227.0,1416,5,29,2013-01-01T10:00:00Z
2,2013,1,1,542.0,540,2.0,923.0,850,33.0,AA,1141,N619AA,JFK,MIA,160.0,1089,5,40,2013-01-01T10:00:00Z
3,2013,1,1,544.0,545,-1.0,1004.0,1022,-18.0,B6,725,N804JB,JFK,BQN,183.0,1576,5,45,2013-01-01T10:00:00Z
4,2013,1,1,554.0,600,-6.0,812.0,837,-25.0,DL,461,N668DN,LGA,ATL,116.0,762,6,0,2013-01-01T11:00:00Z
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
336771,2013,9,30,NaN,1455,NaN,NaN,1634,NaN,9E,3393,NaN,JFK,DCA,NaN,213,14,55,2013-09-30T18:00:00Z
336772,2013,9,30,NaN,2200,NaN,NaN,2312,NaN,9E,3525,NaN,LGA,SYR,NaN,198,22,0,2013-10-01T02:00:00Z
336773,2013,9,30,NaN,1210,NaN,NaN,1330,NaN,MQ,3461,N535MQ,LGA,BNA,NaN,764,12,10,2013-09-30T16:00:00Z
336774,2013,9,30,NaN,1159,NaN,NaN,1344,NaN,MQ,3572,N511MQ,LGA,CLE,NaN,419,11,59,2013-09-30T15:00:00Z
336775,2013,9,30,NaN,840,NaN,NaN,1020,NaN,MQ,3531,N839MQ,LGA,RDU,NaN,431,8,40,2013-09-30T12:00:00Z

# 2.2

In [53]:
nyc[nyc['year'] == 2013]['year'].count()

336776

In [68]:
num = nyc['origin'].unique()
print(len(num))
print(num)

3
['EWR' 'LGA' 'JFK']

In [72]:
dest = nyc[nyc['year'] == 2013]['dest'].unique()
len(dest)

105

In [74]:
nyc[nyc['dest'] == 'SEA']['dest'].count()

3923

In [75]:
nyc[nyc['dest'] == 'GEG']['dest'].count()

0

In [77]:
nyc['dep_delay'].mean()

12.639070257304708

In [93]:
nyc['dep_delay'].isnull().sum()

8255

Yes, there was room for interpretation. For example, the question asked for a typical delay but did that mean departure or arrival delay?

# 2.3

In [104]:
nyc.loc[(nyc['dest'] == 'DEN') & (nyc['year'] == 2013)]['year'].count()

7266

In [108]:
len(nyc[nyc['dest'] == 'DEN']['carrier'].unique())

5

In [111]:
airlines = nyc[nyc['dest'] == 'DEN']['carrier'].unique()

In [114]:
air = {}
for val in airlines:
    air[val] = nyc.loc[(nyc['dest'] == 'DEN') & (nyc['carrier'] == val)]['carrier'].count()
air

{'UA': 3796, 'WN': 1404, 'DL': 1043, 'F9': 685, 'B6': 338}

In [117]:
flight_time = nyc['arr_time'] - nyc['dep_time']
avg_time = flight_time.mean()
avg_time

153.19728832571792

In [124]:
(flight_time - nyc['air_time'])

0          86.0
1          90.0
2         221.0
3         277.0
4         142.0
          ...
336771      NaN
336772      NaN
336773      NaN
336774      NaN
336775      NaN
Length: 336776, dtype: float64

In [130]:
nyc.loc[(nyc['dest'] == 'DEN') & (nyc['dep_delay'] > 15)]['dest'].count() / nyc[(nyc['dest'] == 'DEN')]['dest'].count() * 100

24.071015689512798

# 2.4

In [133]:
planes = pd.read_csv('data/planes.csv', sep = '\t')
planes

,tailnum,year,type,manufacturer,model,engines,seats,speed,engine
0,N10156,2004.0,Fixed wing multi engine,EMBRAER,EMB-145XR,2,55,NaN,Turbo-fan
1,N102UW,1998.0,Fixed wing multi engine,AIRBUS INDUSTRIE,A320-214,2,182,NaN,Turbo-fan
2,N103US,1999.0,Fixed wing multi engine,AIRBUS INDUSTRIE,A320-214,2,182,NaN,Turbo-fan
3,N104UW,1999.0,Fixed wing multi engine,AIRBUS INDUSTRIE,A320-214,2,182,NaN,Turbo-fan
4,N10575,2002.0,Fixed wing multi engine,EMBRAER,EMB-145LR,2,55,NaN,Turbo-fan
...,...,...,...,...,...,...,...,...,...
3317,N997AT,2002.0,Fixed wing multi engine,BOEING,717-200,2,100,NaN,Turbo-fan
3318,N997DL,1992.0,Fixed wing multi engine,MCDONNELL DOUGLAS AIRCRAFT CO,MD-88,2,142,NaN,Turbo-fan
3319,N998AT,2002.0,Fixed wing multi engine,BOEING,717-200,2,100,NaN,Turbo-fan
3320,N998DL,1992.0,Fixed wing multi engine,MCDONNELL DOUGLAS CORPORATION,MD-88,2,142,NaN,Turbo-jet
3321,N999DN,1992.0,Fixed wing multi engine,MCDONNELL DOUGLAS CORPORATION,MD-88,2,142,NaN,Turbo-jet

In [136]:
print(list(planes.columns))

['tailnum', 'year', 'type', 'manufacturer', 'model', 'engines', 'seats', 'speed', 'engine']

In [139]:
print(planes['tailnum'].shape)

(3322,)

Merge key is tailnum

In [141]:
df = nyc.merge(planes, how='left', on='tailnum')

In [143]:
df.loc[(df['dest'] == 'DEN') & (df['seats'].isnull())]['dest'].count()

239

In [182]:
max_seats = df[(df['dest'] == 'DEN')]['seats'].max()
temp = df[df['seats'] == max_seats]
temp[['seats', 'manufacturer', 'model', 'year_y']]

        seats manufacturer    model  year_y
247     330.0       BOEING  767-322  1998.0
601     330.0       BOEING  767-323  1994.0
691     330.0       BOEING  767-332  1998.0
1165    330.0       BOEING  767-322  2001.0
1511    330.0       BOEING  767-323  1992.0
...       ...          ...      ...     ...
335919  330.0       BOEING  767-322  1998.0
336354  330.0       BOEING  767-332  1999.0
336412  330.0       BOEING  767-332  1997.0
336578  330.0       BOEING  767-332  1996.0
336744  330.0       BOEING  767-332  1997.0

[2018 rows x 4 columns]

# 2.5
1. The results have many duplicates given that the planes fly more than once. The data that we were required to use was adequate being there were few null values
2. This data could be viable for an airline to see where they can make improvements in their delays. Perhaps there is a certrain airport that has significant delays compared to the others and they could be improvements there to get more people to flight from their airline.

# 3
* I spent an hour and a half on this assignment. It seemed to flow rather easily and I felt prepared for the material.